@import "../../../Sass/variables";

.task-description-zero-state {
  text-align: center;
  display: flex;
  justify-self: center;
  align-items: center;
  align-self: center;
}

.max-w-85{
  max-width: 85%;
  overflow: hidden;
  word-break: break-all;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.modal-box-container .container-details .details-block div .checklist-tab{
    border-color: #CED4DA!important;
    border-bottom: 2px solid #CED4DA!important;
}

.nav-tabs .nav-link {
  color: $text-other;
  margin-bottom: 0;
  border: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.checklist-tab .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: 2px solid $primary-color;
    background-color: transparent;
    color: $primary-color;
}
