.logo {
  .wobot-text-style {
    width: 160px;
    height: 36.02px;
    margin: 59px 0px;
  }
}

.cherry-img {
  .img-style {
    width: 400px;
    height: 300px;
    left: 0px;
    top: 0px;
    margin: 80px 0px;
  }
}
