@import "../../../Sass/variables";

.color-pink {
  color: $brand-pink;
}

.color-second {
  color: $second-color;
}

.color-purple {
  color: $brand-purple;
}

.color-orange {
  color: $brand-orange;
}

.color-primary {
  color: $primary-color;
}

// Icons color
.icon-bg-pink {
  background: transparentize($brand-pink, 0.8);
  svg {
    
    path{
      fill: $brand-pink;
    }
  }
}

.icon-bg-second {
  background: transparentize($second-color, 0.8);
  svg {
    
    path{
      fill: $second-color;
    }
  }
}

.icon-bg-purple {
  background: transparentize($brand-purple, 0.8);
  svg {
    
    path{
      fill:$brand-purple;
    }
  }
  
}

.icon-bg-orange {
  background: transparentize($brand-orange, 0.8);
  svg {
    
    path{
      fill: $brand-orange;
    }
  }
}

.icon-bg-primary {
  background: transparentize($primary-color, 0.8);;
  svg {
    path{
      fill: $primary-color;
    }
  }
}

.icon-bg-green {
  background: transparentize($green-success, 0.8);;
  svg {
    path{
      fill: $green-success;
    }
  }
}

// Stats box BG
.stats-bg-pink {
  background: transparentize($brand-pink, 0.9);
}

.stats-bg-second {
  background: transparentize($second-color, 0.9);
}

.stats-bg-purple {
  background: transparentize($brand-purple, 0.9);
}

.stats-bg-orange {
  background: transparentize($brand-orange, 0.9);
}

.stats-bg-primary {
  background: transparentize($primary-color, 0.9);
}

.data-filter-ticketing{
  width: 100%;
  margin-right: 20px;
  .react-select{
    width: 150px;
  }
}

.task-data{
  li{
    margin-bottom: 5px;
    font-weight: 500;
    &:last-child{
      margin-bottom: 0px;
    }
  }
}

// Page Style
.stats-box {
  border-radius: 18px;
  padding: 20px 28px;
  color: $pure-white;
  margin-bottom: 20px;

  .stats-icon {
    margin-top: 35px;

    span {
      svg {
        border-radius: 50%;
        width: 50px;
        height: auto;
        padding: 10px;
      }
    }
  }
}

.data-box {
  border-radius: 18px;
  padding: 22px 28px;
  background: $form-bg-color;
  margin-bottom: 20px;

  .data-panel {
    background: $pure-white;
    border-radius: 12px;
    padding: 10px 24px;
    margin-bottom: 15px;
    @include set-flex(space-between, center, center);

    .data-split {
      @include set-flex(unset, center, center);

      span {
        margin-right: 15px;

        svg {
          padding: 9px;
          width: 40px;
          border-radius: 50%;
          height: auto;
        }
      }
    }
  }
}
.btn-action{
  justify-content: flex-end!important;
  margin-top: 10px!important;
  a{
    width: 22px;
    height: 22px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
      width: 12px;
      height: 12px;
    }
  }
}
@media (max-width: 768px) {
  .data-filter-ticketing{
  width: 100%;
  margin-right: 20px;
  }
}