@import "../../../../Sass/variables";

.multi-email-block{
  background: $form-bg-color;
  border-radius: 6px;
  padding: 10px 15px;
  margin-bottom: 5px;
  margin-right: 15px;
  svg{
    width: 20px;
    height: 20px;
    padding: 5px;
  }
}

.invite-form-block{
  @include set-padding-all($padding: 40px);
  text-align: left;
}
.form-header{
  max-width: 250px;
}